body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

#characters-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  margin: 1rem;
  border-radius: 30%;
  background-color: white;
  width: 55vw;
  box-shadow: 2px 5px rgb(77, 76, 76);
}

.attribute {
  font-weight: bold;
  margin-right: 0.3em;
}

.character-detail {
  margin: 0.5em;
}