body{
  background-color: rgb(158, 156, 156);
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 30px;
  text-align: center;
  margin-bottom: 1.5em;
}

#userInput{
  margin-bottom: 1em;
  font-family: 'Courier New', Courier, monospace;
}

#unit{
  font-family: 'Courier New', Courier, monospace;
}

button{
  font-family: 'Courier New', Courier, monospace;
}

p{ 
  background-color: rgba(69, 129, 129, 0.568);
  color:rgb(39, 49, 49);
  font-weight: 600;
  border-radius: 20px;
  width: 200px;
  height: 20px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;

}